/* .first img{
    height: 420px;
}
.img-part{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 600px;
}
.img-part img{
    height: 300px;
    border: 0;
}
.main_img{
    height: 600px;
} */