.header{
    background-color: rgb(34, 34, 34);
    padding-bottom: 20px;
}
nav{
    opacity: 0.9;
}
/* nav img{
    width: 80px;
    height: 80px;
    padding: 0;
} */
/* .navLink{
    padding: 40px;
    font-size: larger;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
} */
